extends layout


block content
    h1 Form 
    form(method="POST" action="/new")
        input(type="text" name="user" value="Username")
        textarea(type="text" name="msg" )
        
        button(type="submit") ADD