extends layout

block content
  div.container
    h1= title
    
    each message in messages
      div.element
        h2= message.text 
        p= `Added by ${message.user} - ${message.added}`

    a.add(class="button" href="/new") Add message   
        
  
